*{
	margin:0px auto;
	padding:0px;
}
body{
	font-family:'ËÎÌå';
	font-size:12px;
	color:#522a06;
	background:url(../images/bodybg.gif);
}
li{
	list-style-image:url(../images/pot.gif);
	text-align:left;
	list-style-position:inside;
}
a{
	text-decoration:none;
	color:#522a06;
}
a:hover{text-decoration:underline;}
.header{height:205px;}
.logo{
	width:100%;
	height:150px;
	background:url(../images/banner3.jpg);
}
.logo img{
	display:block;
	width:300px;
	height:150px;
	margin-left:150px;
}
.nav{
	height:40px;
	background:url(../images/nav.jpg);
	margin:auto;
}
.nav_content{
	width:800px;
	font-weight:bold;
	color:#fff;
	height:40px;
	padding-top:12px;
	margin-left:120px;
	float:left;
}
.nav_content a{color:#fff;}
.nav_content a:hover{
	color:#f9f603;
	text-decoration:none;
}
.search{
	float:left;
	width:190px;
	height:21px;
	background-color:#f8f5ee;
	margin-top:10px;
	padding-right:0px;
}
.sousuokuang{
	width:140px;
	height:21px;
	border:none;
}
.button{
	width:45px;
	height:21px;
	background-color:#000;
	color:#fff;
	border:1px solid #f8f5ee;
	float:right;
}
.clear{clear:both;}
.content{
	width:1000px;
	margin:auto;
}
.left{
	width:210px;
	float:left;
	margin-left:2px;
}
.right{
	width:760px;
	float:left;
}
.mianbaoxie{
	height:30px;
	line-height:30px;
	text-align:center;
}
left_one{background:url(../images/bg.png);}
.left_one li{
	height:30px;
	line-height:30px;
	font-weight:bold;
	list-style:none;
	margin-left:60px;
}
.zhaosheng{
	display:block;
	color:red;
	background:url(../images/menubg.gif);
	margin-left:40px;
}
.left_one .zhaoshengqishi{
	display:block;
	margin-left:21px;
}
.left_two{
	background:url(../images/bg.png);
	margin-top:40px;
	margin-bottom:40px;
}
.left_two li{
	height:30px;
	line-height:30px;
	list-style:none;
	margin-left:60px;
}
.right_title{
	display:block;
	height:50px;
	line-height:50px;
	padding-left:55px;
	width:750px;
	color:red;
	font-size:20px;
	background:url(../images/listtitle.png) no-repeat;
	margin-top:30px;
	font-family:'Ó×Ô²';
	font-weight:bold;
}
.right ul li{
	height:30px;
	line-height:30px;
}
.date{
	display:block;
	float:right;
}
.num{
	display:block;
	border:1px solid brown;
	width:30px;
	height:20px;
	line-height:20px;
	text-align:center;
	float:left;
	margin-left:20px;
}
#one{
	display:block;
	width:30px;
	height:20px;
	line-height:20px;
	text-align:center;
	float:left;
	margin-left:20px;
	color:red;
}
.xiaoyuhao{
	float:left;
	margin-left:150px;
	height:20px;
	line-height:20px;
}
.shengluehao{
	float:left;
}
#num199{
	display:block;
	border:1px solid brown;
	width:30px;
	height:20px;
	line-height:20px;
	text-align:center;
	float:left;
}
.clear{clear:both;}
.footer{
	width:1000px;
	padding-top:10px;
	height:110px;
	background:url(../images/foot.gif);
	margin:0px auto;
}
.youqinglianjie(
	padding-top:10px;
	margin:0px 100px;
)
.youqing ul{
	list-style-type:none;
	margin-left:100px;
	text-align:center;
}
.youqing li{
	list-style-type:none;
	float:left;
}
.youqing{
	width:900px;
	margin:0px auto;
}
.fenge{
	display:block;
	margin:5px auto;

}
.footer p{text-align:center;}